In [1]:
import datetime

In [2]:
t = datetime.time(5, 25, 1)

In [3]:
t

datetime.time(5, 25, 1)

In [4]:
print(t)

05:25:01

In [10]:
print(datetime.time.max)

23:59:59.999999

In [11]:
print(datetime.time.resolution)

0:00:00.000001

In [12]:
today = datetime.date.today()

In [14]:
print(today)

2018-11-28

In [15]:
today.timetuple()

time.struct_time(tm_year=2018, tm_mon=11, tm_mday=28, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=332, tm_isdst=-1)

In [19]:
today.year

2018

In [22]:
print(datetime.date.resolution)

1 day, 0:00:00

In [23]:
d1 = datetime.date(2015, 3, 11)
print(d1)

2015-03-11

In [24]:
d2 = d1.replace(year = 1990)

In [25]:
d2

datetime.date(1990, 3, 11)

In [26]:
d1

datetime.date(2015, 3, 11)

In [28]:
d1 - d2

datetime.timedelta(days=9131)